@charset "UTF-8";

.youtube-wrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin-bottom: 5px;
}

.youtube-wrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

iframe {
  margin-left: -50%;
}